{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div>
        <nav>
            <ul>
                <a class="aluno" href="{{ path('app_aluno') }}">Aluno</a>
                
            </ul>
        </nav>
    </div>
{% endblock %}

