{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('style/home.css') }}">

{% endblock %}
    

{% block body %}
    <div>
        <nav>
            <ul>
                <a class="aluno" href="{{ path('cadastro_aluno') }}">Matricular Aluno</a>

                <a class="aluno" href="{{ path('app_curso') }}">Cadastrar Curso</a>

                <a class="aluno" href="{{ path('app_cadastro') }}">Cadastrar Aluno</a>
                
            </ul>
        </nav>
    </div>
{% endblock %}

