{% block title %}{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('style/aluno.css') }}">

{% endblock %}


{% block body %}
    <h1 class="aluno-title">Cadastro de Alunos</h1>
    <form method="" action="">

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="idnome" placeholder="Digite o nome">

        <br><br>

        <label for="idade">Idade</label>
        <input type="number" name="idade" id="ididade" placeholder="Digite a idade">

        <br><br>

        <label for="cpf">CPF</label>
        <input type="number" name="cpf" id="idcpf" placeholder="Digite o CPF">

        <br><br>

        <label for="escolaridade">Escolaridade</label>
        <input type="text" name="escolaridade" id="idescolaridade" placeholder="Digite a escolaridade">

        <br><br>

        <input type="submit" value="CADASTRAR ALUNO">

    </form>

    

{% endblock %}