<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        

        <link rel="stylesheet" href="{{ asset('style/home.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <header>
        <a href="{{ path('home') }}"><h1 class="home-title">Sejam Bem-Vindos!</h1></a>
        <p>Essa página se trata de um pequeno projeto <abbr title="CREATE, READ, UPDATE, DELETE">CRUD</abbr>, que é uma maneira de demonstrar as funcionalidades de um softwere. Obrigado pela visita!</p>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
